@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

/* start shared styles here */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    border: 1px solid red;
    margin: auto;
}


/* start nav-ber styles here */
.nav-ber-container {
    width: 24px;
    height: 23px;
    text-align: center;
    display: none;
}

.nav-ber {
    width: 100%;
    height: 18%;
    background: #3A3A3A;
    border-radius: 2px;
    margin-top: 3px;

}



/* start nav styles here */

nav {
    display: flex;
    align-items: center;
    padding: 50px 120px 30px;
    justify-content: space-between;
}

.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.ul-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* start banner styles here */
.banner-container {
    padding: 0px 120px;
    display: flex;
    align-items: center;
}

.banner-content {}

.banner-title {
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.baneer-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.banner-btn {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
}

.banner-image {
    background-image: url(../images/Circle-design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-image>img {
    width: 100%;
    padding: 20px 0;
}

/* statr sponsors section styles */
.sponsors-container {
    padding: 40px 120px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/* start populer section styles here */
.main-container {
    padding: 50px 120px;
}

.populer-first-title {
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.populer-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.populer-content {
    border-radius: 8px;
    padding: 18px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.populer-content img {
    width: 100%;
}

.populer-title {
    color: #18191F;
    font-size: 1.7rem;
    font-weight: 500;
}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
}

.star {
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
}

.description {
    color: #787885;
    font-size: 1rem;
    font-weight: 700;
}

.fa-star, .fa-star-half {
    color: #FB8200;
}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}




/* start mobile device styles */

@media screen and (max-width: 576px) {

    .nav-ber-container {
        display: initial;
    }

    nav {
        padding: 30px 20px 0;
    }

    nav ul {
        display: none;
    }

    .banner-container {
        padding: 0px 20px;
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
    }

    .baneer-description {
        font-size: 0.75rem;
    }

    .sponsors-container {
        padding: 0 1px 0 35px;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        box-shadow: none;
        grid-template-rows: repeat(2, 40px);

    }

    .sponsors-container img {
        width: 70%;
    }

    .loog {
        margin-left: 50px;
    }
    .main-container{
        padding: 50px 20px;
    }
    .populer-content-container{
        grid-template-columns: 1fr;
    }
    .price{
        margin: 0px;
    }
    .populer-title{
        margin: 8px 0;
    }


}

/* start medume device styles */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        padding: 20px;
    }

    .banner-container {
        padding: 0px 10px;
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
    }

    .sponsors-container {
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .main-container{
        padding: 50px 20px;
    }
    .populer-content-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr) fr;
    }
    .last-content{
        grid-column: span 2;
        width: 50%;
        margin: auto;
    }

    .price{
        margin: 0px;
    }
    .populer-title{
        margin: 8px 0;
    }

}